if TARGET_PINETAB2

config SYS_BOARD
	default "pinetab2"

config SYS_VENDOR
	default "pine64"

config SYS_CONFIG_NAME
	default "rk3566-pinetab2"

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y

endif
